body, html {
	height: 100%;
	margin: 0;
	font-family: 'Crimson Text', serif;
	color:white;
}
#bg-1, #bg-2, #bg-3, #bg-4 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom:25px;
}
.col-3 {
	padding:0;
}
#game {
	background-color:#f2f3f4;
	height: 100%;
}
#instr {
	width:100%;
	text-align: center;
	color:#b3b5b8;
}
#bboard {
	margin-bottom:15%;
}
#bboard img {
	width:100%;
}
.hoop {
	position:absolute;
	  top: 69%;
	  bottom: 0;
	  left: 30%;
	  right: 0;
	width:39%;
}
#ball {
	display: block;
    margin:0 auto;
	width: 60%;
}
@media (max-width: 991.98px) {
	#instr {
		display:none;
	}
	#ball {
		display:none;
	}
	#bboard {
		margin-bottom:5%;
	}
	#game {
		height: auto;
	}
}
#bg-1 {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url("images/bg-1.jpeg");
}
h1 {
	padding-top: 15px;
	text-align: center;
}
.bio {
    color: black;
    background-color: white;
	padding: 2rem;
    border-radius: 10px;
    text-align: center;
}
.bio h5 {
    line-height: 1.5;
}
#contact i {
	font-size:4em;
	color:white;
	margin:0 0.25em;
}
#contact {
    text-align: center;
    margin-top: 1em;
}
#contact i:hover {
	color:#a0a0a0;
}
#bg-2 {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("images/bg-2.jpeg");
}
.xp-content {
	overflow-x:scroll;
}
.xp {
	height:418px;
	width:2190px;
}
.card {
	position: relative;
	float:left;
	margin-right: 10px;
	width:355px;
	height:418px;
}
#bg-2 img {
	padding-top: 3px;
	height:100px;
	width:100px;
}
.col-8 {
	color:black;
	font-size: 23px;
	line-height: 14px;
	padding:0;
}
#details {
	color:black;
	font-size:16px;
	line-height: 20px;
}
.card-body {
	color:black;
	padding-top: 0;
	padding-bottom: 10px;
}
#bg-3 {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url("images/bg-3.jpeg");
}
.pro-content {
	overflow-x:scroll;
}
.pro {
	height:350px;
	width:2242px;
}
.item {
	position: relative;
	float:left;
	margin-right: 25px;
	width:660px;
	height: 350px;
	text-align: center;
}
.item a:hover .infobox {
	opacity:0.95;
}
.item img {
	width:660px;
	height: 350px;
}
#app {
	width: 162px;
}
#app img {
	width: 162px;
}
.infobox {
	position:absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	height:100%;
	opacity: 0;
	transition:.3s ease;
	background-color: white;
}
.text {
	color: #666666;
  	font-size: 18px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#bg-4 {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("images/bg-4.jpeg");
}
#bg-4 h2 {
	font-size:2.2vw;
}
#chart {
	margin:0 auto;
}
#chart th {
	padding-right: 3%;
}
#chart td {
	padding: 1%;
}
#chart img {
	width:6vw;
}